<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style media="screen">

      body {
        background-color: #C5CAE9;
      }

      .form-actions {
        margin: 0;
        background-color: transparent;
        text-align: center;
      }

    </style>

  </head>
  <body>

    <div class="row">
      <div class="col center-block">
        <div class="form-actions">
          <form action="/oauth/gitlab" method="git">
            <h1>Welcome!</h1>
            <br \>
            <button type="submit" class="btn btn-default btn-lg">
              <i class="my-icon normal icon-gitlab" aria-hidden="true" style="vertical-align: middle;"></i>
              <span style="vertical-align: middle;">&nbsp;Sign In With GitLab</span>
            </button>
          </form>

        </div>
      </div>
    </div>

  </body>
</html>
